{{- define "timesheet" -}}
- client: {{.Client}}
  project: {{.Project}}
  module: {{.Module}}
  task: {{.Task}}
  work_type: {{.WorkType}}
  date: {{.Date.Format "02/01/06"}}
  time: {{.Time}}
  billable: {{.Billable}}
  description: {{.Description}}
{{ end -}}
